@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  /* background-color: black; */
  /* color: white; */
}

h1 {
  text-align: center;
}

.contenedor {
  max-width: 120rem;
  width: 95%;
  margin: 0 auto;
}
